.cinza{
    background-color: #d2d2d2;
}

.imagem-sobreposta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
     top: 0; 
   left: 0;
}

.imagem-sobreposta-titulo-topo{
    position: absolute; 
    top: -10px; 
    left: 0;
}

.fonte-menor{
    font-size: 0.95rem;
    
}
.fonte-menor-2{
    font-size: 0.90rem;
    
}

/* parte do texto: */

.texto-preto{
    color: black;
}

.texto-grande{
    font-size: 4rem;
}

.texto-medio{
    font-size: 1.1rem;
}

.estilo-negrito{
    font-weight: bolder;
}

.imagem-sobreposta-titulo-bot{
    position: absolute; 
    top: 0px; 
    left: 17px;
}

.container-imagens-titulo{
    position: relative; 
    display: inline-block; 
    width: 40px; 
    height: 30px;
}

.metade-pra-fora{
    transform: translateY(100%) translateX(15%);
}

.black{
    color: black;

}





/* .imagem-grandona{
    width: 100%;
    height: 100%;
    position: relative; 
} */
