*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cinza{
    background-color: #d2d2d2;
}

.imagem-sobreposta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
     top: 0; 
   left: 0;
}

.imagem-sobreposta-titulo-topo{
    position: absolute; 
    top: -10px; 
    left: 0;
}


.fonte-menor{
    font-size: 0.95rem;
    
}

.fonte-ainda-menor{
    font-size: 0.85rem;
    
}
.fonte-menor-2{
    font-size: 0.90rem;
    
}

.tudo{
    filter: blur(1.1rem);
}

.blur-transicao-login{
    filter: blur(1.1rem);
    transition: filter 0.3s;
}
.blur-transicao-cadastro{
    filter: blur(1.1rem);
    transition: filter 0.3s;
}


/* parte do texto: */

.texto-preto{
    color: black;
}

.texto-grande{
    font-size: 4rem;
}

.texto-medio{
    font-size: 1.1rem;
}

.efeito-link{
    text-decoration: none;
    color: black;
    transition: color 0.3s, text-decoration 0.3s;
}

.estilo-negrito{
    font-weight: bolder;
}

.imagem-sobreposta-titulo-bot{
    position: absolute; 
    top: 0px; 
    left: 17px;
}

.container-imagens-titulo{
    position: relative; 
    display: inline-block; 
    width: 40px; 
    height: 30px;
}

.metade-pra-fora{
    transform: translateY(100%) translateX(15%);
}

.black{
    color: black;

}

.centralizado {
    /* dimensões */
    width: 300px;
    height: 200px;
    background: #f0f0f0;

    /* tira do fluxo e fixa na viewport */
    position: fixed;
    top: 50%;
    left: 50%;

    /* centraliza o próprio elemento */
    transform: translate(-50%, -50%);

    /* garante que fique acima de tudo */
    z-index: 9999;

    /* só para exemplo, alinhamento interno */
    display: flex;
    align-items: center;
    justify-content: center;
}